doctype html
html(ng-app="statementsApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/statements.css', media='all')
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        script(src="/scripts/statements.js")
    body#statmentsController(ng-controller="StatementsController as statements")
        h2 Balance Sheet
        p All values in millions USD unless specified otherwise
        #bsTable.table-container
            .headcol#bsTableHeadCol
                table
                    thead
                        tr
                            th.topLeft &nbsp;
                        tr
                            th.topLeft &nbsp;
                    tbody
                        tr
                            td.indent1x Current Assets
                        tr
                            td.indent1x Noncurrent Assets
                        tr.totalRow
                            td Assets
                        tr
                            td.indent1x Current Liabilities
                        tr
                            td.indent1x Noncurrent Liabilities
                        tr.totalRow
                            td Liabilities
                        tr
                            td Commitments and Contingencies
                        tr
                            td Temporary Equity and Redeemable Noncontrolling Interest
                        tr
                            td.indent1x Equity Attributable to Parent
                        tr
                            td.indent1x Equity Attributable to Noncontrolling Interest
                        tr.totalRow
                            td Equity
                        tr
                            td Liabilities and Equity
            .right#bsTableRight
                img.loaderImage(src="images/ajax-loader-black-transparent.gif", ng-show="statements.loading")
                table(ng-show="statements.loaded")
                    thead
                        tr
                            th(ng-repeat="date in statements.instantDates track by $index", ng-attr-colspan="{{statements.entities.length}}") {{date}}
                        tr
                            th(ng-repeat="entity in statements.instantEntities track by $index") {{entity}}
                    tbody
                        tr
                            td(ng-repeat="fact in statements.bsFacts.CurrentAssets track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.NoncurrentAssets track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.Assets track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.CurrentLiabilities track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.NoncurrentLiabilities track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.Liabilities track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.CommitmentsAndContingencies track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.TemporaryEquity track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.EquityAttributableToParent track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.EquityAttributableToNoncontrollingInterest track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.Equity track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.bsFacts.LiabilitiesAndEquity track by $index") {{fact || "&nbsp;"}}
        h2 Income Statement
        p All values in millions USD unless specified otherwise
        #isTable.table-container
            .headcol
                table
                    thead
                        tr
                            th &nbsp;
                        tr
                            th &nbsp;
                    tbody
                        tr
                            td Revenues (single-step alternative)
                        tr
                            td Costs of Revenues (single-step alternative)
                        tr
                            td Operating Expenses (single-step alternative)
                        tr
                            td Costs and Expenses (single-step alternative)
                        tr
                            td Other Operating Income (Expenses) (single-step alternative)
                        tr
                            td Operating Income (Loss) (Single-step alternative)
                        tr
                            td.blankRow  &nbsp;
                        tr
                            td Revenues (multi-step alternative)
                        tr
                            td Costs of Revenue (multi-step alternative)
                        tr
                            td Gross Profit (multi-step alternative)
                        tr
                            td.blankRow  &nbsp;
                        tr
                            td Operating Expenses (multi-step alternative)
                        tr
                            td Other Operating Income (Expenses) (multi-step alternative)
                        tr
                            td.blankRow  &nbsp;
                        tr
                            td Operating Income (Loss) (multi-step alternative)
                        tr
                            td.blankRow  &nbsp;
                        tr
                            td Nonoperating Income (Loss)
                        tr
                            td Interest and Debt Expense
                        tr
                            td Income (Loss) before Equity Method Investments
                        tr
                            td Income (Loss) from Equity Method Investments
                        tr
                            td.blankRow  &nbsp;
                        tr
                            td Income (Loss) from Continuing Operations Before Tax
                        tr
                            td Income Tax Expense (Benefit)
                        tr
                            td Income (Loss) from Continuing Operations After Tax
                        tr
                            td Income (Loss) from Discontinued Operations, Net of Tax
                        tr
                            td Extraordinary Items, Gain (Loss), Net of Tax
                        tr
                            td Net Income (Loss)
                        tr
                            td.blankRow  &nbsp;
                        tr
                            td Net Income (Loss) Attributable to Parent
                        tr
                            td Net Income (Loss) Attributable to Noncontrolling Interest
                        tr
                            td.blankRow  &nbsp;
                        tr
                            td Preferred Stock Dividends and Other Adjustments
                        tr
                            td Net Income (Loss) Available to Common Stockholders, Basic
            .right#isTableRight
                img.loaderImage(src="images/ajax-loader-black-transparent.gif", ng-show="statements.loading")
                table(ng-show="statements.loaded")
                    thead
                        tr
                            th(ng-repeat="date in statements.durationDates track by $index", ng-attr-colspan="{{statements.entities.length}}") {{date}}
                        tr
                            th(ng-repeat="entity in statements.durationEntities track by $index") {{entity}}
                    tbody
                        tr
                            td(ng-repeat="fact in statements.isFacts.Revenues track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.CostOfRevenue track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.OperatingExpenses track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.CostsAndExpenses track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.OtherOperatingIncomeExpenses track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.OperatingIncomeLoss track by $index") {{fact || "&nbsp;"}}
                        tr
                            td.blankRow &nbsp
                        tr
                            td(ng-repeat="fact in statements.isFacts.Revenues track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.CostOfRevenue track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.GrossProfit track by $index") {{fact || "&nbsp;"}}
                        tr
                            td.blankRow &nbsp
                        tr
                            td(ng-repeat="fact in statements.isFacts.OperatingExpenses track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.OtherOperatingIncomeExpenses track by $index") {{fact || "&nbsp;"}}
                        tr
                            td.blankRow &nbsp
                        tr
                            td(ng-repeat="fact in statements.isFacts.OperatingIncomeLoss track by $index") {{fact || "&nbsp;"}}
                        tr
                            td.blankRow &nbsp
                        tr
                            td(ng-repeat="fact in statements.isFacts.NonoperatingIncomeLoss track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.InterestAndDebtExpense track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.IncomeLossBeforeEquityMethodInvestments track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.IncomeLossFromEquityMethodInvestments track by $index") {{fact || "&nbsp;"}}
                        tr
                            td.blankRow &nbsp
                        tr
                            td(ng-repeat="fact in statements.isFacts.IncomeLossFromContinuingOperationsBeforeTax track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.IncomeTaxExpenseBenefit track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.IncomeLossFromContinuingOperationsAfterTax track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.IncomeLossFromDiscontinuedOperationsNetOfTax track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.ExtraordinaryItemsOfIncomeExpenseNetOfTax track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.NetIncomeLoss track by $index") {{fact || "&nbsp;"}}
                        tr
                            td.blankRow &nbsp
                        tr
                            td(ng-repeat="fact in statements.isFacts.NetIncomeLossAttributableToParent track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.NetIncomeLossAttributableToNoncontrollingInterest track by $index") {{fact || "&nbsp;"}}
                        tr
                            td.blankRow &nbsp
                        tr
                            td(ng-repeat="fact in statements.isFacts.PreferredStockDividendsAndOtherAdjustments track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.NetIncomeLossAvailableToCommonStockholdersBasic track by $index") {{fact || "&nbsp;"}}
        h2 Statement of Comprehensive Income
        p All values in millions USD unless specified otherwise
        #cisTable.table-container
            .headcol
                table
                    thead
                        tr
                            th &nbsp;
                        tr
                            th &nbsp;
                    tbody
                        tr
                            td Net Income (Loss)
                        tr
                            td Other Comprehensive Income (Loss)
                        tr
                            td Comprehensive Income (Loss)
                        tr
                            td &nbsp;
                        tr
                            td Comprehensive Income (Loss) Attributable to Parent
                        tr
                            td Comprehensive Income (Loss) Attributable to Noncontrolling Interest
            .right#cisTableRight
                img.loaderImage(src="images/ajax-loader-black-transparent.gif", ng-show="statements.loading")
                table(ng-show="statements.loaded")
                    thead
                        tr
                            th(ng-repeat="date in statements.durationDates track by $index", ng-attr-colspan="{{statements.entities.length}}") {{date}}
                        tr
                            th(ng-repeat="entity in statements.durationEntities track by $index") {{entity}}
                    tbody
                        tr
                            td(ng-repeat="fact in statements.isFacts.NetIncomeLoss track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.OtherComprehensiveIncomeLoss track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.ComprehensiveIncomeLoss track by $index") {{fact || "&nbsp;"}}
                        tr
                            td &nbsp;
                        tr
                            td(ng-repeat="fact in statements.isFacts.ComprehensiveIncomeLossAttributableToParent track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.isFacts.ComprehensiveIncomeLossAttributableToNoncontrollingInterest track by $index") {{fact || "&nbsp;"}}
        h2 Cash Flow Statement
        p All values in millions USD unless specified otherwise
        #cfTable.table-container
            .headcol
                table
                    thead
                        tr
                            th &nbsp;
                        tr
                            th &nbsp;
                    tbody
                        tr
                            td.indent1x Net Cash Flows, Operating, Continuing
                        tr
                            td.indent1x Net Cash Flows, Operating, Discontinued
                        tr
                            td Net Cash Flows, Operating (continuing and discontinued)
                        tr
                            td.indent1x Net Cash Flows, Investing, Continuing
                        tr
                            td.indent1x Net Cash Flows, Investing, Discontinued
                        tr
                            td Net Cash Flows, Investing (continuing and discontinued)
                        tr
                            td.indent1x Net Cash Flows, Financing, Continuing
                        tr
                            td.indent1x Net Cash Flows, Financing, Discontinued
                        tr
                            td Net Cash Flows, Financing (continuing and discontinued)
                        tr
                            td Net Cash Flows, Continuing
                        tr
                            td Net Cash Flows, Discontinued
                        tr
                            td Exchange Gains (Losses)
                        tr
                            td Net Cash Flow
            .right#cfTableRight
                img.loaderImage(src="images/ajax-loader-black-transparent.gif", ng-show="statements.loading")
                table(ng-show="statements.loaded")
                    thead
                        tr
                            th(ng-repeat="date in statements.durationDates track by $index", ng-attr-colspan="{{statements.entities.length}}") {{date}}
                        tr
                            th(ng-repeat="entity in statements.durationEntities track by $index") {{entity}}
                    tbody
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromOperatingActivitiesContinuing track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromOperatingActivitiesDiscontinued track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromOperatingActivities track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromInvestingActivitiesContinuing track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromInvestingActivitiesDiscontinued track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromInvestingActivities track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromFinancingActivitiesContinuing track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromFinancingActivitiesDiscontinued track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowFromFinancingActivities track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowContinuing track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.NetCashFlowDiscontinued track by $index") {{fact || "&nbsp;"}}
                        tr
                            td(ng-repeat="fact in statements.cfFacts.ExchangeGainsLosses track by $index") {{fact || "&nbsp;"}}
                        tr
                            

