body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 10pt;
}



table
{
    float: left;
    border-collapse: collapse;
}

.table-container {
    position: relative;
    width: 1000px;
    height: 100%;
    border: 2px solid black;
    display: inline-block;
}

th {
    border: 1px solid black;
    padding: 5px;
    white-space: nowrap
}

td {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    white-space: nowrap
}

td.blankRow
{
    border-left: none;
    border-right: none;
}

.right {
    overflow: auto;
}

.right td {
    text-align: right;
}

.indent1x
{
    padding-left: 25px;
}

.topLeft {
    border-bottom: none;
    border-top: none;
    padding-bottom: 6px;
}