body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 8pt;
}

#companies {
    border: none;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    width: 1000px;
}

tr.totalRow td {
    font-weight: bold;
    border-bottom: double 3px black;
}


table
{
    float: left;
    border-collapse: collapse;
}

.table-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}

th {
    border: 1px solid black;
    padding: 5px;
    white-space: nowrap
}

td {
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    white-space: nowrap
}

tr:hover > td {
    background-color: #5596e6;
    color: #FFFFFF;
}

tr:hover > td:hover {
    background-color: white;
    color: black;
}

td.blankRow
{
    border-left: none;
    border-right: none;
}

.loaderImage{
    position: relative;
    top: 50%;
    left: 50%;

}

.headColTable {
    width: 400px;
}

.headColTable td {
    border-left: none;
}

.headColTable th {
    border-left: none;
}

.right {
    overflow: auto;
}

.right td {
    text-align: right;
}

.indent1x
{
    padding-left: 25px;
}

.topLeft {
    border-bottom: none;
    border-top: none;
    padding-bottom: 6px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    padding-top: 40px;
}

::-webkit-scrollbar-track{
    border: 1px solid lightgray;
    background: #5a5a5a;
    border-radius: 0px;

}
::-webkit-scrollbar-thumb{
    border-radius:0px;
    height: 30px;
    width: 8px;
    border: 1px solid black;
    background: #e0e0e0;
}

::-webkit-scrollbar-track-piece {
    height: 30px;
    width: 30px;
}

.panel-primary>.panel-heading {
    background-color: #325c80;
    border-color: #325c80;
    border-radius: 0px;
}

.panel-primary {
    border-color: #000000;
    border-radius: 0px;
}

.form-control {
    border: none;
}

.btn-primary {
    background-color: #ff7832;
    border-color: #ff7832;
    border-radius: 0px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #ffd4a0;
}

